.repo {
  vertical-align: top;
  margin-left: 5px;
  margin-right: 5px;
}

/* tablets */
@media only screen and (min-width: 768px) {
  .repo {
    display: inline-block;
    width: 48%;
  }
}

/* desktops */
@media only screen and (min-width: 992px) {
  .repo {
    width: 31%;
  }
}

.site-title a {
  color: inherit;
}

.language {
  font-size: 90%;
  margin-right: 5px;
}

.stargazers {
  font-size: 90%;
}

.description {
  margin-bottom: 5px;
}

.updated {
  font-size: 90%;
}
